main{
    min-height: 100vh;
    background-color: #EB5A47;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh
}
.form-container {
    padding: 70px;
    background-color: white;
}

.title {
    padding: 30px;
    color:white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    color:  #EB5A47;
}

.btn {
    margin: 12px;
    color: #EB5A47;
    font-size: large;
}

.btn-success {
    margin-top: 20px;
    color: black;
    background-color:salmon;;
}

#ValidationsResults {
    display: none;
    color:#EB5A47;
}



